*{
margin: 0;
padding: 0;

}

body{
background-color: white

}
nav,ul,li{
display: flex;
text-decoration: none;
gap: 20px;
background-color:  black;height: 50px;
align-items: center;
justify-content: space-between;



}
ul,li{
margin-left: 100px;
text-decoration: none;
font-size: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bold;


}

h2{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bold;
color: whitesmoke;
padding-left: 30px;
}


a{
    text-decoration: none;
    color: whitesmoke;
    padding-right: 50px;
    

    
}
a:hover{
text-decoration: underline;

}
p{
font-size: 50px;
margin-left: 100px;
margin-top: 200px;

}

.ab{
color: green;

}
.image1{
height: 30%;
width: 30%;
margin-left: 800px;
position: relative;
top: -300px;
border-radius: 50px;
}
.a{
    color: black;
}
h1{
text-align: center;
position: relative;
top: -200px;
color: black;
font-weight: 400;
font-style: normal;
font-family: 'Georgia', serif;
}
.image2{
    height: 100%;
    width: 40%;
    margin-left: 60px;
    position: relative;
    top: -100px;
    border-radius: 50px;



}
.c{
    font-size: medium;
    width: 40%;
    margin-left: 600px;
    position: relative;
    top: -550px;
}
.t{
font-size: 300%;
color: green;
font-family: 'Times New Roman', Times, serif;
font-weight: 700;
}



.as{
    width: 100%;
    position: relative;
    top: -260px;
    background-color: black;
    border: none; 
    height: 2px; 
    margin: 20px 0;
}

 .z{
font-size: 20px;
position: relative;
top: -390px;
 }
 .x{
    position: relative;
    top: -200px;
    color: black;
    font-weight: 400;
    font-style: normal;
    font-family: 'Georgia', serif;
    margin-left: 100px;
    margin-top: 30px;
   


 }
 .k{
    border: 100px;
    border-color: black;
    height: 50px;
    width: 400px;
    background-color: whitesmoke;
    border-radius: 10px;
    position: relative;
    top: -300px;
    margin-left: 100px;
    
    
 }
 .G{
    border: 100px;
    height: 10px;
    width: 400px;
    border-radius:  0 20px 20px 20px;
    position: relative;
    top: -310px;
    margin-left: 100px;
    background-color: black;width: 360px;
    text-align: center;
    font-size: 10px;
    color: white;

 }
 .y{
    border: 100px;
    border-color: black;
    height: 50px;
    width: 400px;
    background-color: whitesmoke;
    border-radius: 10px;
    position: relative;
    top: -300px;
    margin-left: 100px;
    
 }
 .h{
    border: 100px;
    height: 10px;
    width: 400px;
    border-radius:  0 20px 20px 20px;
    position: relative;
    top: -310px;
    margin-left: 100px;
    background-color: black;width: 360px;
    text-align: center;
    font-size: 10px;
    color: white;
 }
 .m{
    border: 100px;
    border-color: black;
    height: 50px;
    width: 400px;
    background-color: whitesmoke;
    border-radius: 10px;
    position: relative;
    top: -300px;
    margin-left: 100px;


 }
 .n{
    border: 100px;
    height: 10px;
    width: 400px;
    border-radius:  0 20px 20px 20px;
    position: relative;
    top: -310px;
    margin-left: 100px;
    background-color: black;width: 200px;
    text-align: center;
    font-size: 10px;
    color: white;



 }
 .image3{
    height: 30%;
    width: 30%;
    margin-left: 800px;
    position: relative;
    top: -700px;
    


 }
 .p{
color: black;
position: relative;
top: -550px;

 }
 .q{
    width: 300px; 
    height: 20px;  
    font-size: 16px;
    padding: 10px; 
    border: 2px solid #333; 
    border-radius: 5px;
    margin-left: 500px;
    position: relative;
    top: -550px;
    margin-top: 50px;

 }
 .v{
    width: 300px; 
    height: 20px;  
    font-size: 16px;
    padding: 10px; 
    border: 2px solid #333; 
    border-radius: 5px;
    margin-left: 500px;
    position: relative;
    top: -550px;
    margin-top: 50px;

 }
 .f{
    width: 300px; 
    height:  120px;  
    font-size: 16px;
    padding: 10px; 
    border: 2px solid #333; 
    border-radius: 5px;
    margin-left: 500px;
    position: relative;
    top: -550px;
    margin-top: 50px;




 }
 .o{
    background-color: blue;
    border: 2px soild black;
    border-collapse: collapse;
    width: 60px; 
    height:  40px;  
    margin-left: 900px;
    position: relative;
    top: -550px;
    border-radius: 10px;
 }

 


 
 
 
 .be{
    /*  */
    margin-left: -40px;
    
    
 }
 .pl{
    position: relative;
    top: -440px;
    margin-left: 40%;
 }
.we{
display: block;
margin-left: 600px;
position: relative;
top: -499px; 

}
.ap{
   position: relative;
   top: -350px;
   background-color: black;
   border: none; 
   height: 2px; 
   margin: 20px 0

}
.aq{
   position: relative;
   top: -650px;
   background-color: black;
   border: none; 
   height: 2px; 
   margin: 20px 0


}